/* src/styles/_base.scss */
@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $dark-bg;
  color: $light-text;
  font-family: $font-secondary;
}

h1, h2, h3, h4 {
  font-family: $font-primary;
  color: $white;
}